
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ccc;
}

section{
    border:20px solid #ccc;
    width: 75vw;
    margin: 0px auto;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.12em;
    line-height: 1.4rem;
    height: 90vh;
    overflow-y: scroll;
}

img{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.para{
    clear: left;
}
h2{
    margin-bottom: 15px;
    font-size: 28px;
    color:#1b2a5e
}

 

hr{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin: 20px 0px; 
}
 